<%= render "shared/navbar" %>
<div class= "container-booking">
  <div class= "title-main">
    <div  class= "title-booking">
      <h1> <i class="fa-solid fa-shuttle-space"></i>       Selected: <%= @booking.vehicle.name %></h1>
    </div>
    <% if @booking.status == "Pending" %>
      <div class= "booking-status-pending">
        <%= @booking.status %>
      </div>
    <% elsif @booking.status == "accepted" %>
      <div class= "booking-status-accepted">
        <%= @booking.status %>
      </div>
    <% else %>
      <div class= "booking-status-refused">
          <%= @booking.status %>
      </div>
    <% end %>
  </div>
  <div class="card-booking">
    <div>
      <%= cl_image_tag @booking.vehicle.images.first.key, crop: :fill %>
    </div>
    <% duration = (@booking.end - @booking.start) + 1 %>
    <div class= "card-description-booking">
      <div class= "description-booking">
        <h2><i class="fa-regular fa-calendar"></i> &nbsp; From <%= @booking.start.strftime("%B %e, %Y") %> to <%= @booking.end.strftime("%B %e, %Y") %></h2>
      </div>
      <div class= "description-booking">
        <h2><i class="fa-regular fa-clock"></i> &nbsp; <%= duration.to_i %> days</h2>
      </div>
      <div class= "description-booking">
        <h2><i class="fa-solid fa-coins"></i> &nbsp; <%= @booking.vehicle.price.to_i * duration.to_i %> <i class="fa-solid fa-euro-sign"></i></h2>
      </div>
    </div>
  </div>
</div>
