<h1>All vehicles</h1>

<div class="cards">
  <% @vehicles.each do |vehicle| %>
    <div class="card-category">
      <div class="card-trip">
        <%= link_to vehicle_path(vehicle) do %>
          <img src="<%= vehicle.image %>" />
          <div class="card-vehicle-infos">
            <div>
              <h2><%= vehicle.name %></h2>
              <p><%= vehicle.city %> | <%= vehicle.category %></p>
            </div>
            <h2 class="card-trip-pricing"><%= vehicle.price %>€</h2>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
