<div class="banner-show" style="background-image: url(<%= "#{@vehicle.image}" %>)"></div>
<div class="container mx-5">
  <div class="card-bottom-div">
    <div class="card-details">
      <h2 class="card-name"><%= @vehicle.name %></h2>
      <p class="card-location"><%= @vehicle.city %> | <%= @vehicle.category %></p>
      <h2 class="card-price"><%= @vehicle.price %>€</h2>
    </div>

    <div class="card-details">
      <% if policy(@vehicle).edit? == false %>
        <div class="form-booking-vehicle">
          <%= simple_form_for [@vehicle, @booking], html: { class: "booking-form" } do |f| %>
            <%= f.input :start, label: "Start date", input_html: { class: "form-control" } %>
            <%= f.input :end, label: "End date", input_html: { class: "form-control" } %>
            <%= f.submit "Book now", class: "btn btn-dark" %>
          <% end %>
        </div>
      <% else %>
        <%= link_to "Edit this vehicle", edit_vehicle_path(@vehicle), class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
</div>
